@import url("reset.css");

body{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem;
}

a{
    width: 20vw;
}

button{
    width: 200px;
}

.hidden_image{
    display: none;
}

.show{
    display: block;
}
