@import url("reset.css");

/*
.recepta{
    background-image: url("../img/tablecloth.jpg");
    height: 100%;
    background-repeat: repeat;
    background-position: center;
    background-color: rgba(55, 90, 204, 0.5);
}
*/

h1, h2, h3{
    margin: 1rem;
}

h2{
    border-bottom: 1px solid black;
}

p{
    margin: 2rem;
}

ul, ol{
    margin: 2rem;
}